.collection-page {
}

.collection-page__title {
  margin: 0 0 30px;
  font-size: 38px;
  text-align: center;
}

// .collection-page__items {
//   display: flex;
//   flex-wrap: wrap;
// }

// .collection-page__item {
//   margin: 0 0 10px;
//   width: 100%;

//   @media screen and (min-width: 600px) {
//     padding: 0 5px;
//     width: 25%;
//   }
// }
