.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 25px;
  max-width: 660px;
}

.checkout__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid darkgrey;
}

.checkout__header-cell {
  width: 23%;
  text-transform: capitalize;

  &:last-child {
    width: 8%;
    min-width: 45px;
  }
}

.checkout__total {
  margin: 30px 0 0;
  font-size: 36px;
  align-self: flex-end;
}

.checkout__payment-message {
  margin: 40px 0;
  color: red;
  font-size: 24px;

  a {
    color: red;
    text-decoration: underline;
  }
}
