.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo-wrap {
}

.header__logo {
}

.header__utilities {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__utility-item {
  padding: 0 15px;

  &:last-child {
    padding-right: 0;
  }
}

.header__utility-link {
  text-transform: uppercase;
}
